body {
	padding-top: 70px;
	padding-bottom:20px;
	background: url('grain.gif') repeat fixed 0 0 #e9e9e9;
}

iframe {
	border: none; width:100%;
}

#content {
	box-shadow: 4px 6px 16px;
	padding: 15px;
	background: white;
}

tr:hover { background-color:#EFEFEF; }

#toolbar input {
	vertical-align:top;
	background-color: #101010;
	border: 2px solid #666;
	border-radius: 4px;
	color: white;
	height:24px;
}

#toolbar input:not(#file) {
	min-width:80px;
	font-size:10px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

#loader {
	z-index:999;
	width:31px;
	height:31px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	top:30%;
	left:50%;
	margin-top:-16px;
	margin-left:-16px;
}

#filediv {
	width:100%;
	text-align:center;
	padding:auto;
	margin:auto;
	margin-top: 12px;
}

.progress {
	display:inline-block;
	position:relative;
	width:400px;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 3px;
	height:22px;
	margin-bottom:-6px;
}
.progress .bar {
	background-color: #B4F5B4;
	width:0%;
	border-radius: 3px;
	height:100%;
	-webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
	transition: width 0.5s;
}
.progress .percent {
	position:absolute;
	display:inline-block;
	top:0;
	text-align: center;
	width: 100%;
}
.tool {
	display: inline-block !important;
	background: #666;
	padding: 4px;
}
.tool b{
	color: white;
	font-size: 11px;
	line-height:22px;
	vertical-align:bottom;
}